* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background:  #EF5455;

};

.main-box {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title-box {
  height: auto;
  padding: 15px;
  margin-top: 65px;
  text-align: center;
  border-top: 5px solid #FAD744;
  border-bottom: 5px solid #FAD744;
}

#game-box {
  display: none;
  justify-content: center;
  width: 510px;
  height: 510px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #555;
  opacity: 0.7;
}


.playBtn {
  display: flex;
  justify-content: center;
  
}

.play {
  margin-top: 30px;
  padding: 5px;
  border-radius: 10px;
  
}

.restart {
  display: none;
  justify-content: center;
  margin-top: 30px;
  padding: 5px;
  border-radius: 10px;
}

.restart:hover {
  background: white;
  cursor: pointer;
}

.play:hover {
  background: white;
  cursor: pointer;
}

.cell {
  width: 170px;
  height: 170px;
  cursor: pointer;
  text-align: center;
  font-size: 120px;
  padding: 10px;
  background: #2B3252;
  color: #EF5455;
}

.cell:hover {
  background: blue;
}

 #b1, #b2, #b3, #b4, #b5, #b6 {
  border-bottom: 10px solid #FAD744; 

}

#b2, #b3, #b5, #b6, #b8, #b9 {
  border-left: 10px solid  #FAD744;
}

#resultBox {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;

}

#player1 {
  height: 25px;
  background-color: #2B3252;
  border-radius: 5px;
  color:  #FAD744;
  border: 2px solid #FAD744;

}

#player2 {
  height: 25px;
  background-color: #2B3252;
  border-radius: 5px;
  color:  #FAD744;
  border: 2px solid #FAD744;
}

.modalWin {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  
}